@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Text",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c1e;
  color: #e5e5e7;
  user-select: none;
}
